.sortButton {
    padding: none;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

th {
    border-bottom: 1px solid black;
    cursor: pointer;
}

th:hover {
    font-size: 25px;
    font-weight: bolder;
}

table {
    margin-top: 50px;
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

#searchBox {
    margin: 10px;
}

#searchDiv {
    margin: 50px;
}